html, input, button {
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input, button {
  margin-bottom: 1em;
}

.author {
  font-size: 16px;
}

h1, #qrContainer {
  text-align: center;
}